.Rproj.user
.Rhistory
.RData
.Ruserdata
Raw data/combined_data_1.txt
Raw data/combined_data_2.txt.zip
Raw data/combined_data_3.txt.zip
Raw data/combined_data_4.txt.zip
Raw data.zip
Raw data/combined_data_2.txt
Raw data/combined_data_3.txt
Raw data/combined_data_4.txt
Data/combined_data_1.txt
Paul/Taller netflix y data -20201208.zip
Paul/Taller netflix y data -20201208/compute_film_lines_file.R
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM.docx
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM.html
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM.Rmd
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-docx/unnamed-chunk-15-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-docx/unnamed-chunk-16-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-docx/unnamed-chunk-18-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-docx/unnamed-chunk-20-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-docx/unnamed-chunk-20-2.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-docx/unnamed-chunk-7-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-docx/unnamed-chunk-7-2.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-13-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-14-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-15-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-16-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-17-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-18-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-20-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-20-2.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-6-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-7-1.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-html/unnamed-chunk-7-2.png
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-14-1.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-15-1.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-16-1.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-18-1.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-20-1.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-20-2.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-6-1.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-7-1.pdf
Paul/Taller netflix y data -20201208/modelo_datos_netflix_load_data_TADM_files/figure-latex/unnamed-chunk-7-2.pdf
Enunciado/Enunciado-20201208.zip
Raw data/.DS_Store
Data/combined_data_2.txt
Data/combined_data_3.txt
Data/combined_data_4.txt
Paul/Taller netflix y data -20201208/filas_ID_combined_1.txt
Paul/Taller netflix y data -20201208/filas_ID_combined_2.txt
Paul/Taller netflix y data -20201208/filas_ID_combined_3.txt
Paul/Taller netflix y data -20201208/filas_ID_combined_4.txt
Paul/Taller netflix y data -20201208/filas_ID_combined_all.txt
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-10-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-11-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-11-2.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-13-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-14-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-16-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-16-2.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-4-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-4-2.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-4-3.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-10-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-11-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-11-2.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-13-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-14-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-16-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-16-2.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-4-1.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-4-2.pdf
Proyecto-Netflix-Movies-MADM_files/figure-latex/unnamed-chunk-4-3.pdf
