.Rproj.user
.Rhistory
.RData
.Ruserdata
Raw data/combined_data_1.txt
Raw data/combined_data_2.txt.zip
Raw data/combined_data_3.txt.zip
Raw data/combined_data_4.txt.zip
Raw data.zip
Raw data/combined_data_2.txt
Raw data/combined_data_3.txt
Raw data/combined_data_4.txt
Data/combined_data_1.txt
*.txt
